In [6]:
import numpy as np
import pandas as pd

In [26]:
df=pd.read_csv("Titanic-Dataset.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [131]:
df=pd.read_csv("Titanic-Dataset.csv",usecols=[1,5,9])
df

     Survived   Age     Fare
0           0  22.0   7.2500
1           1  38.0  71.2833
2           1  26.0   7.9250
3           1  35.0  53.1000
4           0  35.0   8.0500
..        ...   ...      ...
886         0  27.0  13.0000
887         1  19.0  30.0000
888         0   NaN  23.4500
889         1  26.0  30.0000
890         0  32.0   7.7500

[891 rows x 3 columns]

In [132]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [133]:
import math
df['Age']=df['Age'].fillna(df['Age'].median())

In [134]:
df.isnull().sum()

Survived    0
Age         0
Fare        0
dtype: int64

In [135]:
df

     Survived   Age     Fare
0           0  22.0   7.2500
1           1  38.0  71.2833
2           1  26.0   7.9250
3           1  35.0  53.1000
4           0  35.0   8.0500
..        ...   ...      ...
886         0  27.0  13.0000
887         1  19.0  30.0000
888         0  28.0  23.4500
889         1  26.0  30.0000
890         0  32.0   7.7500

[891 rows x 3 columns]

In [136]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop('Survived',axis=1),df['Survived'],test_size=0.2)

In [137]:
X_train.shape,X_test.shape

((712, 2), (179, 2))

In [138]:
y_train.shape,y_test.shape

((712,), (179,))

In [139]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
scaler.fit(X_train)

X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [141]:
scaler.mean_

array([29.31589888, 33.28994537])

In [140]:
X_train_scaled=pd.DataFrame(X_train_scaled,columns=X_train.columns)
X_test_scaled=pd.DataFrame(X_test_scaled,columns=X_test.columns)

In [142]:
X_test_scaled

          Age      Fare
0   -0.252233 -0.428434
1    0.280242  1.066106
2   -0.100098 -0.625826
3    0.964853 -0.482012
4   -0.024030 -0.474492
..        ...       ...
174 -1.012912 -0.479662
175 -0.100098 -0.477391
176 -0.632573 -0.480132
177  0.964853 -0.118246
178 -0.100098 -0.137045

[179 rows x 2 columns]

In [143]:
np.round(X_train.describe(),1)

         Age   Fare
count  712.0  712.0
mean    29.3   33.3
std     13.2   53.2
min      0.4    0.0
25%     22.0    7.9
50%     28.0   14.5
75%     35.0   31.3
max     80.0  512.3

In [144]:
np.round(X_train_scaled.describe(),1)

         Age   Fare
count  712.0  712.0
mean     0.0    0.0
std      1.0    1.0
min     -2.2   -0.6
25%     -0.6   -0.5
50%     -0.1   -0.4
75%      0.4   -0.0
max      3.9    9.0

In [80]:
from sklearn.linear_model import LogisticRegression

In [145]:
lr=LogisticRegression()
lr_scaled=LogisticRegression()

In [146]:
lr.fit(X_train,y_train)
lr_scaled.fit(X_train_scaled,y_train)

LogisticRegression()

In [147]:
y_pred=lr.predict(X_test)
y_pred_scaled=lr_scaled.predict(X_test_scaled)

In [148]:
from sklearn.metrics import accuracy_score

In [149]:
print("Actual",accuracy_score(y_test,y_pred))
print("scaled",accuracy_score(y_test,y_pred_scaled))

Actual 0.6759776536312849
scaled 0.6703910614525139

In [150]:
from sklearn.metrics import r2_score

In [151]:
from sklearn.linear_model import LinearRegression
lrg=LinearRegression()
lrg_scaled=LinearRegression()

lrg.fit(X_train,y_train)
lrg_scaled.fit(X_train_scaled,y_train)

y_pred=lrg.predict(X_test)
y_pred_scaled=lrg_scaled.predict(X_test_scaled)

print("r2_score_Actual",r2_score(y_test,y_pred))
print("r2_score_scaled",r2_score(y_test,y_pred_scaled))

r2_score_Actual 0.0899317400095061
r2_score_scaled 0.0899317400095061

In [152]:
from sklearn.preprocessing import MinMaxScaler

scaler1=MinMaxScaler()
scaler1.fit(X_train)

X_train_scaled=scaler1.transform(X_train)
X_test_scaled=scaler1.transform(X_test)

In [153]:
X_train_scaled=pd.DataFrame(X_train_scaled,columns=X_train.columns)
X_test_scaled=pd.DataFrame(X_test_scaled,columns=X_test.columns)

In [154]:
lr=LogisticRegression()
lr_scaled=LogisticRegression()

lr.fit(X_train,y_train)
lr_scaled.fit(X_train_scaled,y_train)

y_pred=lr.predict(X_test)
y_pred_scaled=lr_scaled.predict(X_test_scaled)

print("Actual",accuracy_score(y_test,y_pred))
print("scaled",accuracy_score(y_test,y_pred_scaled))

Actual 0.6759776536312849
scaled 0.6759776536312849

In [99]:
from sklearn.preprocessing import MaxAbsScaler
scaler2=MaxAbsScaler()
scaler2.fit(X_train)

X_train_scaled=scaler2.transform(X_train)
X_test_scaled=scaler2.transform(X_test)

X_train_scaled2=pd.DataFrame(X_train_scaled,columns=X_train.columns)
X_test_scaled2=pd.DataFrame(X_test_scaled,columns=X_test.columns)

lr=LogisticRegression()
lr_scaled=LogisticRegression()

lr.fit(X_train,y_train)
lr_scaled.fit(X_train_scaled2,y_train)

y_pred=lr.predict(X_test)
y_pred_scaled2=lr_scaled.predict(X_test_scaled2)

print("Actual",accuracy_score(y_test,y_pred))
print("scaled",accuracy_score(y_test,y_pred_scaled2))

Actual 0.6703910614525139
scaled 0.659217877094972

In [155]:
from sklearn.preprocessing import RobustScaler
scaler3=RobustScaler()
scaler3.fit(X_train)

X_train_scaled=scaler3.transform(X_train)
X_test_scaled=scaler3.transform(X_test)

X_train_scaled3=pd.DataFrame(X_train_scaled,columns=X_train.columns)
X_test_scaled3=pd.DataFrame(X_test_scaled,columns=X_test.columns)

lr=LogisticRegression()
lr_scaled=LogisticRegression()

lr.fit(X_train,y_train)
lr_scaled.fit(X_train_scaled3,y_train)

y_pred=lr.predict(X_test)
y_pred_scaled3=lr_scaled.predict(X_test_scaled3)

print("Actual",accuracy_score(y_test,y_pred))
print("scaled",accuracy_score(y_test,y_pred_scaled3))

Actual 0.6759776536312849
scaled 0.6759776536312849

In [107]:
from sklearn.neighbors import KNeighborsClassifier  
knn= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 ) 
knn_scaled= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 ) 



knn.fit(X_train,y_train)
knn_scaled.fit(X_train_scaled,y_train)

X_train_scaled=scaler2.transform(X_train)
X_test_scaled=scaler2.transform(X_test)

y_pred=knn.predict(X_test)
y_pred_scaled=knn_scaled.predict(X_test_scaled)

print("Actual",accuracy_score(y_test,y_pred))
print("scaled",accuracy_score(y_test,y_pred_scaled))

Actual 0.6424581005586593
scaled 0.5418994413407822